<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="shortcut icon" type="image/png" href="/catoicon.png"/>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navbartop'); -%>
    <div class="container-fluid">
        <div class="justify-content-center text-center text-light position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-10">
            <h1 class="">Welcome to <%= title %></h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita consequatur officia nihil nulla, sed, dignissimos labore omnis reiciendis non nemo ipsum provident perspiciatis alias odio accusantium. A, laudantium fugit.</p>
        </div>        
    </div>
    <%-include('./partials/flashsuccess');%>
    <%-include('./partials/flasherror');%>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>